<!DOCTYPE html>
<html>
<head>
    <title>Kavenegar Call Backend Sample Node</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body style="font-family: 'Source Sans Pro', sans-serif;font-size: 18px;line-height: 1.5;">


<h1>Users List</h1>
<ul style="list-style: none;padding:0;">
    {{#each users}}
        <li style="    border: 1px solid #eee;padding: 10px 20px;margin-bottom: 10px;">
            <h3>DeviceId</h3>
            <p>{{this.deviceId}}</p>
            <h3>UserName</h3>
            <p>{{this.username}}</p>
            <h3>DisplayName</h3>
            <p>{{this.displayName}}</p>
            <h3>Platform</h3>
            <p>{{this.platform}}</p>
            <h3>Notification Token</h3>
            <p>{{this.notificationToken}}</p>
        </li>
    {{/each}}
</ul>

</body>
</html>